body {
    /* background-color: #DDFFD6; */
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    

}
input {
    font-family: 'Montserrat', sans-serif;

}
/* background */


.animatedBackground{
    position: fixed;
    width: fit-content;    
    max-height: 100vh;
    top: 50%;    
    transform: translateY(-50%);
    overflow:hidden;    
    z-index: -10;
    opacity: 1;
    left: 0;  
    transition: left 0.5s; 
    transition-timing-function: ease-out;
}
#animatedbalance {  
    
    margin-left: 9vw; 
    opacity: 1;  
}
.move{
    position: fixed;
    left: 40vw;
    transition-timing-function: ease-out; 

    
}
@media (max-width: 1000px) {
    #animatedbalance {    
    margin-left: 5px;
    }    
}
@media (max-width: 700px) {
    #animatedbalance {    
        margin-left: -300px;
    }
    .move{
        left: 0;
    }
}


/* ______________________________________ */
/* New */
/* ______________________________________ */
/* New_Header */


/* ______________________________________ */
/* New_Steps */

/* TextInput */

/* ValueInput */


